@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #55429d;
  /* min-height: 100vh; 
   position: relative; */
}


nav {
  background-color: #009a2e;
  color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}

#navbar-links {
  display: flex;
  gap: 40px;
  align-items: center;
 
}

.nav-link {
  background-color: #009a2e;
  color: #f8f5f5;
  font-weight: 400;
}

.navbar > .container {
  justify-content: end;
}

.App {
  background-color: #55429d; 
  padding-bottom: 5.5rem;
}

h1 {
  color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}


.no-account {
  margin-top: 30px;
}

#root {
  min-height: 100vh;
  position: relative;
}

@media (max-width: 604px) {
  .nav-link {
      visibility: hidden;
  }
}