@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  background-color: #AA96DA;
}


nav {
  background-color: #73e294;
  color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}

#navbar-links {
  display: flex;
  gap: 40px
}

.nav-link {
  background-color: #73e294;
  color: #f8f5f5;
  font-weight: 400;
}

.navbar > .container {
  justify-content: end;
}

.App {
  background-color: #AA96DA;
  height: 100vh;
}

h1 {
  color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}


.no-account {
  margin-top: 30px;
}

