@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.login-form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

.login-submit {
    background-color: #009a2e;
}



