@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




.register-form {
    margin-left: 25%;
    margin-right: 25%;
  }
  
.register-submit-btn {
    background-color: #73e294;

}

.form-image {
  width: 200px;
  border-radius: 50%;
}