@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');




.register-form {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  }
  
.register-submit-btn {
    background-color: #009a2e;

}

.form-image {
  width: 200px;
  border-radius: 50%;
}

.form-check-label {
  color: #f8f5f5;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400
}