@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


.student-dash-main {
    margin-left: 9%;
    margin-top : 2%;
    margin-bottom: 2%;
}

.lesson-checkbox {
    margin-left: 10%;
}

.question-button {
    margin-left: 7px;
    margin-top: 10%;
}

.question-text {
    width: 100%;
}

.question-modal {
    background-color: #55429d;
}

.question-modal-title {
  color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}