@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

 
 .progressBar {
    background-color: #73e294;
}

.tutor-form-display {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.tutor-form-button {
    background-color: #009a2e;
}

.tutor-form-footer {
    display: flex;
    justify-content: space-between;
}

.form-head {
    color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
}