.review-text {
    display: flex;
    width: 100%;
}

.modal-title {
    margin-left: 10px;
}

.leave-button {
    width: 100%;
}

@media (max-width: 768px) {
    .leave-button {
        width: 100%;
    }
}