


 

.main-display {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
  }

.highlight-tutor {
    width: 60%;
  }

.highlight-img {
    object-fit: cover;
    object-position: center;
    /* height: 500px; */
  }

  .sidebar {
    width: 35%;
  }

  .tutor-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
  }

  .aside-image {
    width: 30%;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #fff;
    margin-left: 10px;
  }

  .sort-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  .sort-button {
    background-color: #009a2e;
  }

  .tutor-select-header {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  .tutor-select-btn {
    background-color: #009a2e;
  }

  .list-aside-tutor {
    background-color: #009a2e;
  }

  .tutor-text-list {
    color: #f8f5f5;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  }

  .tutor-name {
    font-size: 30px;
  }

  .aside-title {
    font-size: 30px;
  }




  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .main-display {
      flex-direction: column;
    }

    .highlight-tutor {
      width: 100%;
    }

    .tutor-list {
      width: max-content;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }

    .sort-buttons {
      flex-direction: column;
      gap: 0px;
    }

  }